main {
    max-width: initial;
}

footer {
    padding: 0 1em;
    background-color: var(--bg-pane);
}

.field-validation-error {
    font-weight: bold;
    color: firebrick;
}

label br {
    display: block;
}