.error {
    background-color: var(--danger-color);
    color: var(--danger-text-color);
    padding: .1em 1em;
}

.success {
    background-color: var(--success-color);
    color: var(--success-text-color);
    padding: .1em 1em;
}
