<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    @*<link href="https://cdn.jsdelivr.net/npm/d0css@1/dist/d0.min.css" rel="stylesheet">*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-area="" asp-page="/Index">WebApp</a></li>
                <li><a asp-area="" asp-page="/Index">Home</a>
                    <ul>
                        <li><a asp-area="" asp-page="/ColorPalletPicker">Color Pallet Picker</a></li>
                        <li><a asp-area="" asp-page="/UnderstandingModelBinding">One and Two-Way Model Binding</a></li>
                    </ul>
                </li>
                <li>
                    Capstone
                    <ul>
                        <li><a asp-area="" asp-page="/Admin/ManageCapstoneStudents" asp-route-SelectedStudent="">Manage Capstone Students</a></li>
                        <li><a asp-area="" asp-page="/ViewCapstoneStudents">View Capstone Students</a></li>
                        <li><a asp-area="" asp-page="/Admin/AssignTeams">Assign Teams</a></li>
                    </ul>
                </li>
                @if (@User.Identity.IsAuthenticated)
                {
                    <li><a asp-area="" asp-page="/Secret/SpyAgency">Spys R Us</a></li>
                }
                <li><a asp-area="" asp-page="/Privacy">Privacy</a></li>
                <li><a asp-area="" asp-page="/About">About</a></li>
                <li><a asp-area="" asp-page="/Contact">Contact Us</a></li>
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div>
            &copy; 2021 - WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
